rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow read/write for all collections to enable public access as requested
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
